<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @categoria.id %>
</p>

<p>
  <b>Categoria:</b>
  <%= @categoria.categoria %>
</p>

<p>
  <b>Ca sezione:</b>
  <%= @categoria.CA_Sezione %>
</p>

<p>
  <b>Protetto:</b>
  <%= @categoria.protetto %>
</p>

<p>
  <b>Ordinamento:</b>
  <%= @categoria.ordinamento %>
</p>

<p>
  <b>Sezioni Id:</b>
  <%= @categoria.sezioni_id %>
</p>


<%= link_to 'Edit', edit_categoria_path(@categoria) %> |
<%= link_to 'Back', categorie_path %>
