<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @utente.id %>
</p>

<p>
  <b>Codice:</b>
  <%= @utente.codice %>
</p>

<p>
  <b>Iva:</b>
  <%= @utente.iva %>
</p>

<p>
  <b>Nome:</b>
  <%= @utente.nome %>
</p>

<p>
  <b>Titolo:</b>
  <%= @utente.titolo %>
</p>

<p>
  <b>Soc:</b>
  <%= @utente.soc %>
</p>

<p>
  <b>Organismo:</b>
  <%= @utente.organismo %>
</p>

<p>
  <b>Siglaorganismo:</b>
  <%= @utente.siglaorganismo %>
</p>

<p>
  <b>Affiliata:</b>
  <%= @utente.affiliata %>
</p>

<p>
  <b>Sede:</b>
  <%= @utente.sede %>
</p>

<p>
  <b>Indirizzo:</b>
  <%= @utente.indirizzo %>
</p>

<p>
  <b>Telefono:</b>
  <%= @utente.telefono %>
</p>

<p>
  <b>Fax:</b>
  <%= @utente.fax %>
</p>

<p>
  <b>Mail:</b>
  <%= @utente.mail %>
</p>

<p>
  <b>Login:</b>
  <%= @utente.login %>
</p>

<p>
  <b>Pwd:</b>
  <%= @utente.pwd %>
</p>

<p>
  <b>Registrato:</b>
  <%= @utente.registrato %>
</p>

<p>
  <b>Data:</b>
  <%= @utente.data %>
</p>

<p>
  <b>Datascadenza:</b>
  <%= @utente.datascadenza %>
</p>

<p>
  <b>Cap:</b>
  <%= @utente.cap %>
</p>

<p>
  <b>Prov:</b>
  <%= @utente.prov %>
</p>

<p>
  <b>Note:</b>
  <%= @utente.note %>
</p>

<p>
  <b>Pagato:</b>
  <%= @utente.pagato %>
</p>

<p>
  <b>Datapag:</b>
  <%= @utente.datapag %>
</p>

<p>
  <b>Notepag:</b>
  <%= @utente.notepag %>
</p>

<p>
  <b>N fatt:</b>
  <%= @utente.n_fatt %>
</p>

<p>
  <b>Sez:</b>
  <%= @utente.sez %>
</p>

<p>
  <b>Numero pi o cf:</b>
  <%= @utente.numero_pi_o_cf %>
</p>

<p>
  <b>Campounauto:</b>
  <%= @utente.campounauto %>
</p>

<p>
  <b>Tariffa:</b>
  <%= @utente.tariffa %>
</p>

<p>
  <b>Sc:</b>
  <%= @utente.sc %>
</p>

<p>
  <b>Imp:</b>
  <%= @utente.imp %>
</p>

<p>
  <b>Iva :</b>
  <%= @utente.iva_ %>
</p>

<p>
  <b>Totale fattura:</b>
  <%= @utente.totale_fattura %>
</p>

<p>
  <b>Pagamento:</b>
  <%= @utente.pagamento %>
</p>

<p>
  <b>Comunicazioni:</b>
  <%= @utente.comunicazioni %>
</p>

<p>
  <b>Codicefiscale:</b>
  <%= @utente.codicefiscale %>
</p>

<p>
  <b>Partitaiva:</b>
  <%= @utente.partitaiva %>
</p>

<p>
  <b>Idutenteprincipale:</b>
  <%= @utente.idutenteprincipale %>
</p>

<p>
  <b>Annotazioni:</b>
  <%= @utente.annotazioni %>
</p>

<p>
  <b>Tariffaprecedente:</b>
  <%= @utente.tariffaprecedente %>
</p>

<p>
  <b>Scontoprecedente:</b>
  <%= @utente.scontoprecedente %>
</p>

<p>
  <b>Ivaprecedente:</b>
  <%= @utente.ivaprecedente %>
</p>

<p>
  <b>Pagamentoprecedente:</b>
  <%= @utente.pagamentoprecedente %>
</p>

<p>
  <b>Dataultimopagamento:</b>
  <%= @utente.dataultimopagamento %>
</p>

<p>
  <b>Dataaccredito:</b>
  <%= @utente.dataaccredito %>
</p>

<p>
  <b>Annocompetenza:</b>
  <%= @utente.annocompetenza %>
</p>

<p>
  <b>Confermaregistrazione:</b>
  <%= @utente.confermaregistrazione %>
</p>

<p>
  <b>Abbonato:</b>
  <%= @utente.abbonato %>
</p>

<p>
  <b>Disabilitato:</b>
  <%= @utente.disabilitato %>
</p>

<p>
  <b>Codicesconto:</b>
  <%= @utente.codicesconto %>
</p>

<p>
  <b>Mailsecondaria:</b>
  <%= @utente.mailsecondaria %>
</p>

<p>
  <b>Parent:</b>
  <%= @utente.parent %>
</p>

<p>
  <b>Crediti:</b>
  <%= @utente.crediti %>
</p>

<p>
  <b>Testo1:</b>
  <%= @utente.testo1 %>
</p>

<p>
  <b>Testo2:</b>
  <%= @utente.testo2 %>
</p>

<p>
  <b>Testo3:</b>
  <%= @utente.testo3 %>
</p>

<p>
  <b>Numero1:</b>
  <%= @utente.numero1 %>
</p>

<p>
  <b>Numero2:</b>
  <%= @utente.numero2 %>
</p>

<p>
  <b>Numero3:</b>
  <%= @utente.numero3 %>
</p>

<p>
  <b>Data1:</b>
  <%= @utente.data1 %>
</p>

<p>
  <b>Data2:</b>
  <%= @utente.data2 %>
</p>

<p>
  <b>Data3:</b>
  <%= @utente.data3 %>
</p>

<p>
  <b>Flag1:</b>
  <%= @utente.flag1 %>
</p>

<p>
  <b>Flag2:</b>
  <%= @utente.flag2 %>
</p>

<p>
  <b>Flag3:</b>
  <%= @utente.flag3 %>
</p>

<p>
  <b>Poweruser:</b>
  <%= @utente.poweruser %>
</p>

<p>
  <b>Numeroregistrazioneconi:</b>
  <%= @utente.numeroregistrazioneconi %>
</p>

<p>
  <b>Forum redattore:</b>
  <%= @utente.forum_redattore %>
</p>

<p>
  <b>Forum notifica:</b>
  <%= @utente.forum_notifica %>
</p>

<p>
  <b>Gruppi utenti:</b>
  <%= @utente.gruppi_utenti_id %>
</p>


<%= link_to 'Edit', edit_utente_path(@utente) %> |
<%= link_to 'Back', utenti_path %>
