<%= form_for(@gruppi_banner) do |f| %>
  <% if @gruppi_banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gruppi_banner.errors.count, "error") %> prohibited this gruppi_banner from being saved:</h2>

      <ul>
      <% @gruppi_banner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :espositore %><br />
    <%= f.text_field :espositore %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :priorita %><br />
    <%= f.text_field :priorita %>
  </div>
  <div class="field">
    <%= f.label :posizione %><br />
    <%= f.text_field :posizione %>
  </div>
  <div class="field">
    <%= f.label :se_visibile %><br />
    <%= f.check_box :se_visibile %>
  </div>
  <div class="field">
    <%= f.label :banner %><br />
    <%= f.text_field :banner %>
  </div>
  <div class="field">
    <%= f.label :impressions %><br />
    <%= f.text_field :impressions %>
  </div>
  <div class="field">
    <%= f.label :clicks %><br />
    <%= f.text_field :clicks %>
  </div>
  <div class="field">
    <%= f.label :didascalia %><br />
    <%= f.text_area :didascalia %>
  </div>
  <div class="field">
    <%= f.label :se_prima_pagina %><br />
    <%= f.check_box :se_prima_pagina %>
  </div>
  <div class="field">
    <%= f.label :impressions_history %><br />
    <%= f.text_field :impressions_history %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
