<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @gruppi_banner.id %>
</p>

<p>
  <b>Espositore:</b>
  <%= @gruppi_banner.espositore %>
</p>

<p>
  <b>Url:</b>
  <%= @gruppi_banner.url %>
</p>

<p>
  <b>Priorita:</b>
  <%= @gruppi_banner.priorita %>
</p>

<p>
  <b>Posizione:</b>
  <%= @gruppi_banner.posizione %>
</p>

<p>
  <b>Se visibile:</b>
  <%= @gruppi_banner.se_visibile %>
</p>

<p>
  <b>Banner:</b>
  <%= @gruppi_banner.banner %>
</p>

<p>
  <b>Impressions:</b>
  <%= @gruppi_banner.impressions %>
</p>

<p>
  <b>Clicks:</b>
  <%= @gruppi_banner.clicks %>
</p>

<p>
  <b>Didascalia:</b>
  <%= @gruppi_banner.didascalia %>
</p>

<p>
  <b>Se prima pagina:</b>
  <%= @gruppi_banner.se_prima_pagina %>
</p>

<p>
  <b>Impressions history:</b>
  <%= @gruppi_banner.impressions_history %>
</p>


<%= link_to 'Edit', edit_gruppi_banner_path(@gruppi_banner) %> |
<%= link_to 'Back', gruppi_banners_path %>
