<h1>Listing sezioni</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Sezione</th>
    <th>Ordinamento</th>
    <th>Se visibile</th>
    <th>Immagine</th>
    <th>Style</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sezioni.each do |sezione| %>
  <tr>
    <td><%= sezione.id %></td>
    <td><%= sezione.sezione %></td>
    <td><%= sezione.ordinamento %></td>
    <td><%= sezione.se_visibile %></td>
    <td><%= sezione.immagine %></td>
    <td><%= sezione.style %></td>
    <td><%= link_to 'Show', sezione %></td>
    <td><%= link_to 'Edit', edit_sezione_path(sezione) %></td>
    <td><%= link_to 'Destroy', sezione, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sezione', new_sezione_path %>
