<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @gruppi_utente.id %>
</p>

<p>
  <b>Cu categoriautente:</b>
  <%= @gruppi_utente.cu_categoriautente %>
</p>

<p>
  <b>Ragione sociale:</b>
  <%= @gruppi_utente.ragione_sociale %>
</p>

<p>
  <b>Indirizzo:</b>
  <%= @gruppi_utente.indirizzo %>
</p>

<p>
  <b>Email:</b>
  <%= @gruppi_utente.email %>
</p>

<p>
  <b>Presidente:</b>
  <%= @gruppi_utente.presidente %>
</p>

<p>
  <b>Referente:</b>
  <%= @gruppi_utente.referente %>
</p>

<p>
  <b>Consulente:</b>
  <%= @gruppi_utente.consulente %>
</p>

<p>
  <b>Logo:</b>
  <%= @gruppi_utente.logo %>
</p>

<p>
  <b>Telefono:</b>
  <%= @gruppi_utente.telefono %>
</p>

<p>
  <b>Telefono alt:</b>
  <%= @gruppi_utente.telefono_alt %>
</p>

<p>
  <b>Fax:</b>
  <%= @gruppi_utente.fax %>
</p>

<p>
  <b>Comunicazioni:</b>
  <%= @gruppi_utente.comunicazioni %>
</p>

<p>
  <b>Email alt:</b>
  <%= @gruppi_utente.email_alt %>
</p>


<%= link_to 'Edit', edit_gruppi_utente_path(@gruppi_utente) %> |
<%= link_to 'Back', gruppi_utenti_path %>
