<%= form_for(@edizione) do |f| %>
  <% if @edizione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edizione.errors.count, "error") %> prohibited this edizione from being saved:</h2>

      <ul>
      <% @edizione.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :titolo %><br />
    <%= f.text_field :titolo %>
  </div>
  <div class="field">
    <%= f.label :data_dal %><br />
    <%= f.datetime_select :data_dal %>
  </div>
  <div class="field">
    <%= f.label :data_al %><br />
    <%= f.datetime_select :data_al %>
  </div>
  <div class="field">
    <%= f.label :search_key %><br />
    <%= f.text_field :search_key %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
