<h1>Listing regioni_province</h1>

<table>
  <tr>
    <th>Idregione</th>
    <th>Idprovincia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regioni_province.each do |regioni_provincia| %>
  <tr>
    <td><%= regioni_provincia.idregione %></td>
    <td><%= regioni_provincia.idprovincia %></td>
    <td><%= link_to 'Show', regioni_provincia %></td>
    <td><%= link_to 'Edit', edit_regioni_provincia_path(regioni_provincia) %></td>
    <td><%= link_to 'Destroy', regioni_provincia, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regioni provincia', new_regioni_provincia_path %>
