<p id="notice"><%= notice %></p>

<p>
  <b>Idregione:</b>
  <%= @regioni_provincia.idregione %>
</p>

<p>
  <b>Idprovincia:</b>
  <%= @regioni_provincia.idprovincia %>
</p>


<%= link_to 'Edit', edit_regioni_provincia_path(@regioni_provincia) %> |
<%= link_to 'Back', regioni_province_path %>
