<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @provincia.id %>
</p>

<p>
  <b>Sigla:</b>
  <%= @provincia.sigla %>
</p>

<p>
  <b>Provincia:</b>
  <%= @provincia.provincia %>
</p>


<%= link_to 'Edit', edit_provincia_path(@provincia) %> |
<%= link_to 'Back', province_path %>
