<%= form_for(@contenuto) do |f| %>
  <% if @contenuto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contenuto.errors.count, "error") %> prohibited this contenuto from being saved:</h2>

      <ul>
      <% @contenuto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :edizioni_id %><br />
    <%= f.text_field :edizioni_id %>
  </div>
  <div class="field">
    <%= f.label :categorie_id %><br />
    <%= f.text_field :categorie_id %>
  </div>
  <div class="field">
    <%= f.label :sotto_categorie_id %><br />
    <%= f.text_field :sotto_categorie_id %>
  </div>
  <div class="field">
    <%= f.label :ordinamento %><br />
    <%= f.text_field :ordinamento %>
  </div>
  <div class="field">
    <%= f.label :se_sommario %><br />
    <%= f.check_box :se_sommario %>
  </div>
  <div class="field">
    <%= f.label :riassunto %><br />
    <%= f.text_area :riassunto %>
  </div>
  <div class="field">
    <%= f.label :co_categoria %><br />
    <%= f.text_field :CO_Categoria %>
  </div>
  <div class="field">
    <%= f.label :co_sottocategoria %><br />
    <%= f.text_field :co_sottocategoria %>
  </div>
  <div class="field">
    <%= f.label :scad_mese %><br />
    <%= f.text_field :scad_mese %>
  </div>
  <div class="field">
    <%= f.label :scad_giorno %><br />
    <%= f.text_field :scad_giorno %>
  </div>
  <div class="field">
    <%= f.label :scad_anno %><br />
    <%= f.text_field :scad_anno %>
  </div>
  <div class="field">
    <%= f.label :titolo %><br />
    <%= f.text_area :titolo %>
  </div>
  <div class="field">
    <%= f.label :testo %><br />
    <%= f.text_area :testo %>
  </div>
  <div class="field">
    <%= f.label :data_scadenza %><br />
    <%= f.datetime_select :data_scadenza %>
  </div>
  <div class="field">
    <%= f.label :riferimento %><br />
    <%= f.text_field :riferimento %>
  </div>
  <div class="field">
    <%= f.label :se_visible_web %><br />
    <%= f.check_box :se_visible_web %>
  </div>
  <div class="field">
    <%= f.label :se_visible_data %><br />
    <%= f.check_box :se_visible_data %>
  </div>
  <div class="field">
    <%= f.label :se_visible_newsletter %><br />
    <%= f.check_box :se_visible_newsletter %>
  </div>
  <div class="field">
    <%= f.label :se_protetto %><br />
    <%= f.check_box :se_protetto %>
  </div>
  <div class="field">
    <%= f.label :immagine_url %><br />
    <%= f.text_field :immagine_url %>
  </div>
  <div class="field">
    <%= f.label :titolo_no_format %><br />
    <%= f.text_area :titolo_no_format %>
  </div>
  <div class="field">
    <%= f.label :testo_no_format %><br />
    <%= f.text_area :testo_no_format %>
  </div>
  <div class="field">
    <%= f.label :riassunto_no_format %><br />
    <%= f.text_area :riassunto_no_format %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
