<h2 class="fs-postheader" >Contenuti</h2>



<% @contenuti.each do |contenuto| %>
 <h2 class="fs-postheader" > <%= contenuto.titolo_no_format %>  </h2>
<div class="fs-postheadericons "> scritto da bal bla bla redatto da bla bla pubblicato da bla vorrei linkare le sezioni ma come spesso succede non ci riesco :-(</div>
<div class="fs-postcontent" >   <%= contenuto.riassunto_no_format %> </div>

<%# <br/>    <table>
       <th > link non implementati -> </th>
     <td><%= link_to 'Show', contenuto %> <%#   </td>
    <td><%= link_to 'Edit', edit_contenuto_path(contenuto) %> <%# </td>
    <td><%= link_to 'Destroy', contenuto, :confirm => 'Are you sure?', :method => :delete %> <%# </td> </table>
    %>
<hr>
 <br/>
<% end %>



<%#= link_to 'New Contenuto', new_contenuto_path %>
      <br /><div class="flickr_pagination">
<div class="page_info">

<%= page_entries_info @messages %>
    </div>

<%= will_paginate @messages, :container => false %>

</div>