<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @contenuto.id %>
</p>

<p>
  <b>Edizioni:</b>
  <%= @contenuto.edizioni_id %>
</p>

<p>
  <b>Categorie:</b>
  <%= @contenuto.categorie_id %>
</p>

<p>
  <b>Sotto categorie:</b>
  <%= @contenuto.sotto_categorie_id %>
</p>

<p>
  <b>Ordinamento:</b>
  <%= @contenuto.ordinamento %>
</p>

<p>
  <b>Se sommario:</b>
  <%= @contenuto.se_sommario %>
</p>

<p>
  <b>Riassunto:</b>
  <%= @contenuto.riassunto %>
</p>

<p>
  <b>Co categoria:</b>
  <%= @contenuto.co_categoria %>
</p>

<p>
  <b>Co sottocategoria:</b>
  <%= @contenuto.co_sottocategoria %>
</p>

<p>
  <b>Scad mese:</b>
  <%= @contenuto.scad_mese %>
</p>

<p>
  <b>Scad giorno:</b>
  <%= @contenuto.scad_giorno %>
</p>

<p>
  <b>Scad anno:</b>
  <%= @contenuto.scad_anno %>
</p>

<p>
  <b>Titolo:</b>
  <%= @contenuto.titolo %>
</p>

<p>
  <b>Testo:</b>
  <%= @contenuto.testo %>
</p>

<p>
  <b>Data scadenza:</b>
  <%= @contenuto.data_scadenza %>
</p>

<p>
  <b>Riferimento:</b>
  <%= @contenuto.riferimento %>
</p>

<p>
  <b>Se visible web:</b>
  <%= @contenuto.se_visible_web %>
</p>

<p>
  <b>Se visible data:</b>
  <%= @contenuto.se_visible_data %>
</p>

<p>
  <b>Se visible newsletter:</b>
  <%= @contenuto.se_visible_newsletter %>
</p>

<p>
  <b>Se protetto:</b>
  <%= @contenuto.se_protetto %>
</p>

<p>
  <b>Immagine url:</b>
  <%= @contenuto.immagine_url %>
</p>

<p>
  <b>Titolo no format:</b>
  <%= @contenuto.titolo_no_format %>
</p>

<p>
  <b>Testo no format:</b>
  <%= @contenuto.testo_no_format %>
</p>

<p>
  <b>Riassunto no format:</b>
  <%= @contenuto.riassunto_no_format %>
</p>


<%= link_to 'Edit', edit_contenuto_path(@contenuto) %> |
<%= link_to 'Back', contenuti_path %>
