<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @organismi_associato.id %>
</p>

<p>
  <b>Codice:</b>
  <%= @organismi_associato.codice %>
</p>

<p>
  <b>Organismo:</b>
  <%= @organismi_associato.organismo %>
</p>

<p>
  <b>Siglaorganismo:</b>
  <%= @organismi_associato.siglaorganismo %>
</p>

<p>
  <b>Regione:</b>
  <%= @organismi_associato.regione %>
</p>

<p>
  <b>Provincia:</b>
  <%= @organismi_associato.provincia %>
</p>

<p>
  <b>Datascadenza:</b>
  <%= @organismi_associato.datascadenza %>
</p>

<p>
  <b>Parentorganismo:</b>
  <%= @organismi_associato.parentorganismo %>
</p>

<p>
  <b>Testo1:</b>
  <%= @organismi_associato.testo1 %>
</p>

<p>
  <b>Testo2:</b>
  <%= @organismi_associato.testo2 %>
</p>

<p>
  <b>Testo3:</b>
  <%= @organismi_associato.testo3 %>
</p>

<p>
  <b>Numero1:</b>
  <%= @organismi_associato.numero1 %>
</p>

<p>
  <b>Numero2:</b>
  <%= @organismi_associato.numero2 %>
</p>

<p>
  <b>Numero3:</b>
  <%= @organismi_associato.numero3 %>
</p>

<p>
  <b>Data1:</b>
  <%= @organismi_associato.data1 %>
</p>

<p>
  <b>Data2:</b>
  <%= @organismi_associato.data2 %>
</p>

<p>
  <b>Data3:</b>
  <%= @organismi_associato.data3 %>
</p>

<p>
  <b>Flag1:</b>
  <%= @organismi_associato.flag1 %>
</p>

<p>
  <b>Flag2:</b>
  <%= @organismi_associato.flag2 %>
</p>

<p>
  <b>Flag3:</b>
  <%= @organismi_associato.flag3 %>
</p>

<p>
  <b>Richiedinumeroregistrazione:</b>
  <%= @organismi_associato.richiedinumeroregistrazione %>
</p>

<p>
  <b>Gruppi utenti:</b>
  <%= @organismi_associato.gruppi_utenti_id %>
</p>


<%= link_to 'Edit', edit_organismi_associato_path(@organismi_associato) %> |
<%= link_to 'Back', organismi_associati_path %>
