<p id="notice"><%= notice %></p>

<p>
  <b>Idregione:</b>
  <%= @regione.idregione %>
</p>

<p>
  <b>Regione:</b>
  <%= @regione.regione %>
</p>


<%= link_to 'Edit', edit_regione_path(@regione) %> |
<%= link_to 'Back', regioni_path %>
